*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color:#131313;
    padding: 1rem 8rem;
    z-index: 1000;
}


.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: white;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #00bf85;
}

#navbarSupportedContent > button{
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 20px;
}


#navbarSupportedContent > button:hover{
    background-color: white;
    transition: all 0.4s ease-out;

}

.mid{
    overflow: none;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
 .mid video{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute; 
  
 }
 
 .hero{
    position: relative;
 } 
 .hero h2{
    font-weight: 700;
 } 

.mid p{
    width: 45%;
    font-size: 1rem;
    letter-spacing: 0.2px;
    color: white;
    padding-bottom: 20px;
}

.mid a{
    background-color: #00bf85;
    border: #00bf85;
    padding: 0.4rem 1.4rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
    border-radius: 20px;
}

.mid a:hover{
    background-color: white;    
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}


.about{
    background:black;
}

.about .text h6{
    color: #00bf7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}
.about .text h2{
    color:#f7f5f4;
    font-weight: 700;
    font-size: 2.7rem;
    
}

.about .text p {
    color: #f7f5f4;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing:0.5px;
}

.about .text a{
    text-decoration: none;
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 20px;
    color: #131313;
}
.about .text a:hover{
    background-color: #f7f5f4;
}

.discover .text h6{
    color: #00bf7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}
.discover .text h2{
    color:#111;
    font-weight: 700;
    font-size: 2.7rem;
    
}

.discover .text p {
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing:0.5px;
}

.discover .text a{
    text-decoration: none;
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 20px;
    color: #131313;
}
.discover .text a:hover{
    background-color: #f7f5f4;
}

.services{
    background: #000;

}
.services .one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 2rem 1.5rem;
    border-radius: 8px;
}


.signup .text h6{
    color: #00bf7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}
.signup .text h2{

    font-weight: 700;
    font-size: 2.7rem;
    
}

.signup .text p {
    
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing:0.5px;
}

.signup .text a{
    text-decoration: none;
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 20px;
    color: #131313;
}
.signup .text a:hover{
    background-color: #f7f5f4;
}




